.clearfix {
*zoom:1
}
.clearfix:before, 
.clearfix:after {
	display: table;
	content: "";
	line-height: 0
}
.clearfix:after {
	clear: both
}


@media (min-width: 1024px) and (max-width: 1400px) {

.brand-logo{
	margin-left: 0;
}
.login-btn{
	margin-right: 0;
}


}

@media (min-width: 1200px) {
.flex-viewport {
    max-height: 1500px;
    transition: all 1s ease 0s;
}



}


@media (max-width: 1024px) {

.brand-logo{
	margin-left: 0;
}
.nav-tabs > li > a {
    padding: 5px 7px;
}
.ac-title hr {
    width: 73%;
}
.ma-event .ac-title hr{
    width: 83%;
}
.advice .ac-title hr{
    width: 65%;
}
.test-drive-wrap .ac-title hr{
    width: 77%;
}

.nav.navbar-nav a{
    padding: 9px;
}

}


@media (max-width: 980px) {

.ma-event .vew-more hr {
    width: 87%;
}

#owl-demo .owl-nav::before {
    width: 89%;
}

}
@media (max-width: 991px) {



.navbar-header {
    margin-left: 15px;
    float: none;
}
header .navbar-toggle {
	display: block;
	margin-right:0;
	float: none !important;
	}
header .navbar-collapse {
	border-top: 1px solid #ccc;
	float: none;
	}

header .navbar-collapse.collapse {
	display: none!important;
	}
header .collapse.in{
	display:block !important;
	float: none;
	}

.navbar-nav > li {
    float: none;
}

.navbar-right{
	float:none !important;
	margin: 15px 0  15px -15px;
	}
.navbar-nav>li>a{
	padding-left:0;
	}
.navbar-nav li{
    border-bottom: 1px solid transparent;
}
.navbar-default .navbar-toggle:hover {
    background: #F39114;
}
.navbar-default .navbar-toggle:hover .icon-bar{
	background-color:#fff;
}
ul.nav.navbar-nav li:hover{
    border-bottom: 1px solid #29b6f6;
}
.nav.navbar-nav {
    width: 100%;
}
.navbar-nav {
    margin: 7.5px 0px;
}

.head-social hr{
    width: 83%;
}

.small-device-s{
    display: block
    margin-top: 5px;
    width: 16%;
}
.large-device-s{
    display: none;
}

.small-device-s {
    display: inline-block;
    float: right;
}
.navbar-default .col-md-9.col-sm-10, .small-device-s .col-md-3.col-sm-2{
    width: 100%;
}
.navbar-header{
    float: left;
}

.auto-center-info {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.news{
    border: none;
}
.news .title {
    text-align: left;
}
.news ul li{
    padding-bottom: 15px;
}
.box-divider::before{
    border-right: none;
}
.box-divider {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 25px;
}
.sub-news ul li {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    padding-bottom: 53px;
    clear: both;
}
.sizi-news{
    margin-bottom: 25px;
}
.news-left-aside:after, .sizi-news:after, .ma-evnet-item:after, .lg-advice:after, .advice-wrap:after, .test-drive-item-sep:after{
    border-right: none;
}
.news-left-aside{
    margin-bottom: 40px;
}
.ma-event .ac-title hr {
    width: 75%;
}
.ma-evnet-item {
    position: relative;
    margin-bottom: 30px;
}
.ma-event .vew-more{
    margin-top: 0;
}
.vieo-news .ac-title hr {
    width: 83%;
}
.oli-video {
    margin-bottom: 30px;
}
.advice-wrap .ac-title {
    padding-right: 15px;
}

.div-sub-info {
    margin-left: 0;
}

.fast-contact {
    margin: 25px 0;
}
.adv-img img, .ac-news-item-img img {
    width: 100%;
}


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.col-md-9.col-sm-10 {
    margin-top: 50px;
}
header .collapse.in{
    width: 100%;
}
.news .title {
    margin-left: 15px;
}

ul.ac-news-item li .ac-news-item-info {
    margin-left: 0;
}
.top-hed {
    text-align: center;
}

}

@media (min-width: 475px) and (max-width: 640px) {

.footer-bottom{
    text-align: center;
}
.footer-bottom p{
    float: none !important;
}
.footer-bottom h4{
    margin-bottom: 10px;
}


}


/* Portrait phones and smaller */
@media (max-width: 480px) {

.head-social hr {
     width: 75%;
 }

.small-device-s {
    width: 25%;
}
.header-search:hover .header-form {
    top: 170%;
}
.nav-tabs > li, .main-news h3.title {
    float: none;
}
.nav-tabs{
    display: block;
}
.vew-more hr {
    width: 80%;
}
.ma-event .ac-title hr {
    width: 62%;
}
.ma-event .vew-more hr {
    width: 77%;
}
.vieo-news .ac-title hr {
    width: 73%;
}
#owl-demo .owl-nav::before {
    width: 80% !important;
}
.top-footer .col-md-3.col-sm-6.col-xs-6, .top-footer .col-md-4.col-sm-6.col-xs-6{
    width: 100%;
}
.footer-bottom{
    text-align: center;
}
.footer-bottom p{
    float: none !important;
}
.footer-bottom h4{
    margin-bottom: 10px;
}
.ac-title hr {
    width: 53%;
}


}



@media (min-width: 375px) and (max-width: 568px) {


}


@media (max-width: 360px) {

.small-device-s {
    width: 40%;
}
.head-social hr {
    width: 65%;
}

}


@media (max-width: 320px) {

.fb_iframe_widget {
    display: inline-block;
    position: relative;
    width: 101%;
    overflow: scroll;
}
}