/* xs */
@media (min-width: 0px) {
  .footer .footer-contact-form {
    background: #eae8e8;
    padding: 40px 40px 25px 30px;
    margin-top: 0;
  }
  .header .header-menu {
    background: linear-gradient(45deg, #3494e6 30%, #ec6ead 90%);
    opacity: 0.8;
  }
  .navbar-nav {
    display: contents;
   
}
ul.navbar-nav li {
  padding: 0 1.5rem;
  max-width: 110px;
  min-width: 80px;

}
}
/* sm */
@media (min-width: 320px) {
  ul.navbar-nav li {
    padding: 0 0.5rem;
    max-width: 110px;
    min-width: 30px;
  
  }
}
/* md */
@media (min-width: 672px) {
  .header .header-menu {
    background: linear-gradient(45deg, #3494e6 30%, #ec6ead 90%);
    opacity: 0.8;
  }

}
/* lg */
@media (min-width: 1056px) {
  .footer .footer-contact-form {
    background: #eae8e8;
    padding: 40px 40px 25px 30px;
    margin-top: -43px;
  }
}
/* xlg */
@media (min-width: 1312px) {
}
/* max */
@media (min-width: 1584px) {
}
